<!--

Atividade por: Fernanda Martins da Silva
BV3032345

-->

<!--
    Aula de Tabelas, Estilos e Layouts;
-->

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Style.css" />
        <title>Tomba! 2</title>
    </head>
    <body>
        <header>
            <h1>Tomba!</h1>
        </header>

        <nav>
            <a href="Layout.html">Página Inicial</a> |
            <a href="Galeria.html">Galeria</a> |
            <a href="Contato.html">Tomba! 2</a>
        </nav>

        <main>
            <p>
                A página ainda está em desenvolvimento, para mais informações:
            </p>
            <table
                border="1"
                style="border-collapse: collapse; text-align: center"
            >
                <thead>
                    <tr>
                        <th colspan="3">Entre em contato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fernanda</td>
                        <td>Celular</td>
                        <td>99854-3622</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Telefone</td>
                        <td>98787-5447</td>
                    </tr>
                    <tr>
                        <td>Sérgio</td>
                        <td>Celular</td>
                        <td>95123-5840</td>
                    </tr>
                    <tr>
                        <td>Douglas</td>
                        <td>Celular</td>
                        <td>99812-4785</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer>
            <p>&copy; 2025 Meu Site</p>
        </footer>
    </body>
</html>
